# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
.venv/

# Jupyter / notebook check (şu an yok ama ileride olabilir)
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Output files
books.csv
